<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--This section is for automating by date. Format specified below is recommended.-->
		<add key="DateStart" value="2010-01-01T00:00:00" />
		<add key="DateFinish" value="2021-12-31T23:59:59" />
		<add key="IncreaseType" value="Month" />

		<!--This section is for automating by row number-->
		<add key="RowNumberStart" value="1" />
		<add key="RowNumberFinish" value="1000" />
		
		<!--Default: 1-->
		<add key="GroupStart" value="1" />
		<!--Default: 2 (Not included in for loop)-->
		<add key="GroupEnd" value="6" />

		<!--Increase amount for each request (Groups are divided into sub groups)-->
		<add key="IncreaseAmount" value="3" />
		
		<!--Action to be sent to job console-->
		<add key="Action" value="PrintListByDate" />
		
		<!--Path to the application. Must include .exe-->
		<add key="ApplicationPath" value="..\..\..\JobConsole\bin\Debug\JobConsole.exe" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>